.table__header_wrapper {
  display: flex;
  column-gap: 16px;
  row-gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.mat-data-table {
  max-height: calc(100vh - 155px);
  overflow: auto;
}


.mat-column-control {
  width: 50px;

  > button {
    padding: 10px;
  }
}
