<ng-template #form>
  <app-author-form [entity]="selectedItem" [readOnly]="readOnly"(saved)="save($event)"></app-author-form>
</ng-template>

<section class="repository full-height">
  <h3>Авторы</h3>

  <app-mat-datatable-control
    [dataBinding]="dataBinding"
    [readOnly]="readOnly"
    [formRef]="form"
    formTitle="Автор"
  >
    <ng-container table-columns>
      <ng-container matColumnDef="wikipedia">
        <th mat-header-cell *matHeaderCellDef>Википедия</th>
        <td mat-cell *matCellDef="let element" [innerHTML]="element['wikipedia']|href"></td>
      </ng-container>
    </ng-container>

    <ng-container table-header>
      <app-mat-datatable-search placeholder="Введите ФИО или ID"></app-mat-datatable-search>
      <button mat-flat-button appReloadGridButton></button>
      <button mat-flat-button appCreateGridRowButton text="Создать нового автора"></button>
    </ng-container>
  </app-mat-datatable-control>
</section>
