<form [formGroup]="form">
<!--  FIXME: Зачем нам показывать id вообще, нужно у аналитиков спросить -->
<!--  Если действительно нужно, то показывать во всех сущностях  -->
<!--  <ng-container *ngIf="!isNew">-->
<!--    <div class="form-field">-->
<!--      <mat-label>ID</mat-label>-->
<!--      <mat-form-field>-->
<!--        <input matInput formControlName="id" readonly>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </ng-container>-->

  <div class="form-field">
    <mat-label>ФИО</mat-label>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Введите ФИО">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Адрес</mat-label>
    <mat-form-field>
      <input matInput formControlName="address" placeholder="Введите адрес">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Почтовый индекс</mat-label>
    <mat-form-field>
      <input matInput formControlName="zip" placeholder="Введите почтовый индекс">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Город</mat-label>
    <mat-form-field>
      <input matInput formControlName="city" placeholder="Введите город">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Телефон</mat-label>
    <mat-form-field>
      <input matInput formControlName="phone" placeholder="Введите телефон">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Почта</mat-label>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Введите почту">
    </mat-form-field>
  </div>
</form>

<mat-toolbar>
  <button mat-flat-button appClearFormButton></button>
  <button mat-flat-button appSaveFormButton></button>
</mat-toolbar>
