<form [formGroup]="formGroup">
  <h5>Заполните данные о возврате</h5>
    <mat-form-field>
      <mat-label>Дата возврата</mat-label>
      <input matInput formControlName="dateOfReturn" [matDatepicker]="dateOfReturnPicker">
      <mat-datepicker-toggle matSuffix [for]="dateOfReturnPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateOfReturnPicker></mat-datepicker>
    </mat-form-field>
</form>

<div mat-dialog-actions class="dialog-actions d-flex justify-content-between">
  <button mat-flat-button appButton text="Возврат" [mat-dialog-close]="formGroup.value" cdkFocusInitial></button>
  <button mat-flat-button appButton text="Отмена" (click)="cancel()" ></button>
</div>
