<ng-template #form>
  <app-customer-form [entity]="selectedItem" [readOnly]="readOnly"(saved)="save($event)"></app-customer-form>
</ng-template>

<section class="repository full-height">
  <h3>Клиенты</h3>

  <app-mat-datatable-control
    [dataBinding]="dataBinding"
    [readOnly]="readOnly"
    [formRef]="form"
    formTitle="Клиент"
  >
    <ng-container table-header>
      <app-mat-datatable-search placeholder="Введите ФИО или ID клиента"></app-mat-datatable-search>
      <button mat-flat-button appReloadGridButton></button>
      <button mat-flat-button appCreateGridRowButton text="Создать нового клиента"></button>
    </ng-container>
  </app-mat-datatable-control>
</section>
