<form [formGroup]="formGroup">
  <h5>Заполните данные о продлении</h5>
    <mat-form-field>
      <mat-label>Вернуть до</mat-label>
      <input matInput formControlName="returnUntil" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()"></button>
  <button mat-flat-button appButton text="Подтвердить" [mat-dialog-close]="formGroup.value" cdkFocusInitial></button>
</div>
