<section class="repository full-height">
  <h3 class="pb-2">Возврат книг</h3>

  <div class="search-boxes">
    <app-mat-datatable-search
      placeholder="ID клиента"
      [customQuery]="true"
      (onSearchEvent)="findCustomer($event)"
    >
    </app-mat-datatable-search>
    <app-mat-datatable-search
      placeholder="ID книги"
      [customQuery]="true"
      [disabled]="!customer?.id"
      (onSearchEvent)="findBook($event)"
    >
    </app-mat-datatable-search>

    <ng-container>
      <button mat-flat-button [disabled]="lendButtonDisabled" appButton text="Выдать" (click)="lendBook()"></button>
      <button mat-flat-button [disabled]="returnButtonDisabled" appButton text="Возврат" (click)="returnBook()"></button>
      <button mat-flat-button [disabled]="extendButtonDisabled" appButton text="Продлить" (click)="extendBook()"></button>
    </ng-container>
  </div>

  <div class="cards">
    <div class="customer-wrapper card-wrapper" *ngIf="customer?.id">
        <h4>{{ customer.name }}</h4>
        <h5>{{ customer.address }}</h5>
        <h5>{{ customer.phone }}</h5>
    </div>

    <div class="book-wrapper card-wrapper" *ngIf="book">
      <h4>{{ book.title }}</h4>
      <h5>{{ book.authors.length > 0 ? book.authors[0].name : '' }}</h5>
      <h5>{{ book.firstPublishDate }}</h5>
    </div>
  </div>

  <app-no-data-stub [display]="!customer?.id" title="" subTitle="Введите ID клиента для получения информации" [useAltIcon]="true" size="large"></app-no-data-stub>
  <app-no-data-stub [display]="customer?.id && !hasData" subTitle="Клиенту ещё не выдавали книги! Введите ID книги, и отправьте читателя в удивительный мир книг!" size="large"></app-no-data-stub>

  <div class="grids gap-4">
    <app-mat-datatable-control
      #actualGrid
      [dataBinding]="actualDataBinding"
      [ignoreInitQuery]="true"
      class="w-100 {{ customer?.id && hasData ? 'visible' : 'invisible' }}"
    >
      <ng-container table-header>
        <h5 class="mx-auto">Выданные книги</h5>
      </ng-container>
      <ng-container table-columns>
        <ng-container matColumnDef="book">
          <th mat-header-cell *matHeaderCellDef>Название книги</th>
          <td mat-cell *matCellDef="let element">{{ element.book.title }}</td>
        </ng-container>
      </ng-container>
    </app-mat-datatable-control>
    <app-mat-datatable-control
      #historyGrid
      [dataBinding]="historyDataBinding"
      [ignoreInitQuery]="true"
      noDataStubSubTitle="Клиенту ещё не выдавали книги! Введите ID книги, и отправьте читателя в удивительный мир книг!"
      class="w-100 {{ customer?.id && hasData ? 'visible' : 'invisible' }}"
    >
      <ng-container table-header>
        <h5 class="mx-auto">История выдачи</h5>
      </ng-container>
      <ng-container table-columns>
        <ng-container matColumnDef="book">
          <th mat-header-cell *matHeaderCellDef>Название книги</th>
          <td mat-cell *matCellDef="let element">{{ element.book.title }}</td>
        </ng-container>
      </ng-container>
    </app-mat-datatable-control>
  </div>
</section>
