.wrapper {
  display: flex;

  &__menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  &__content {
    padding-left: 60px;
    width: 100%;
    min-height: 100vh;
  }
}
