.mat-calendar-body-selected {
  background-color: var(--theme-light-green) !important;
  color: var(--theme-black) !important;
}

.mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
  //opacity: 0 !important;
}

.mat-sidenav-fixed {
  max-width: 680px;
}

.toast-container {
  --bs-toast-spacing: 6px;

  .ngx-toastr {
    width: 350px !important;
    box-shadow: none !important;
  }
}
