$screen-sm-max: 480px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1440px;

$container-width: 1200px;
$default-padding: 24px;
$section-padding: 32px;

$icon-size: 24px;
$btn-border-radius: 4px;
/*=================================Colors=====================================*/
:root {
  --theme-main: #FFFFFF;
  --theme-white: #FFFFFF;
  --theme-black: #000000;
  --theme-light-green: #8FA43B;
  --theme-light-green-alt: #718136;
  --theme-light-green-alt-2: #CFDC9C;
  --theme-light-green-alt-3: #dae0ca;
  --theme-dark-green: #50673B;
  --theme-gray: #D9D9D9;
  --theme-red: #EF5350;

  --mat-sidenav-content-background-color: var(--theme-main);
  --mat-sidenav-container-background-color: var(--theme-gray);
  --mdc-checkbox-selected-checkmark-color: var(--theme-white);
  --mat-table-row-item-container-height: 50px;
}
