$screen-sm-max: 480px;
$screen-md-max: 768px;
$screen-lg-max: 1024px;
$screen-xl-max: 1440px;

$container-width: 1200px;
$default-padding: 24px;
$section-padding: 32px;
/*=================================Colors=====================================*/
:root {
  --theme-main: #FFFFFF;
  --theme-white: #FFFFFF;
  --theme-black: #000000;
  --theme-light-green: #8FA43B;
  --theme-light-green-alt: #718136;
  --theme-dark-green: #50673B;
  --theme-gray: #BFBFBF;
}
