<form [formGroup]="form">
  <div class="form-field">
    <mat-label>Название</mat-label>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Введите название">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Подзаголовок</mat-label>
    <mat-form-field>
      <input matInput formControlName="subTitle" placeholder="Введите подзаголовок">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Первая дата публикации</mat-label>
    <mat-form-field>
      <input matInput formControlName="firstPublishDate" placeholder="Введите первую дату публикации">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Описание</mat-label>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Введите описание"></textarea>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Авторы</mat-label>
    <app-mat-select-search
      formControlName="authors"
      placeholder="Выберите авторов"
      [binding]="authors$"
    >
    </app-mat-select-search>
  </div>

  <div class="form-field">
    <mat-label>Темы</mat-label>
    <app-mat-select-search
      formControlName="subjects"
      placeholder="Добавьте темы"
      [allowCustom]="true"
    >
    </app-mat-select-search>
  </div>

  <div class="form-field" *ngIf="!isNew">
    <mat-label class="align-self-start">Обложки книги</mat-label>

    <div class="d-flex justify-content-between" style="width: 400px;">
      <mat-chip-grid aria-label="Fruit selection">
        <mat-chip-row *ngFor="let cover of entity.covers" (removed)="removeImage(cover.id)" class="green-button">
          {{cover.coverFile}}
          <button matChipRemove *ngIf="!readOnly">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>

      <div *ngIf="!isNew">
        <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="imageAdd($event)"/>
        <button mat-flat-button appButton (click)="imageInput.click()" text="Добавить" *ngIf="!readOnly"></button>
      </div>
    </div>
  </div>
</form>

<mat-toolbar>
  <button mat-flat-button appClearFormButton></button>
  <button mat-flat-button appSaveFormButton></button>
</mat-toolbar>
