<ng-template #form>
  <app-book-form [entity]="selectedItem" (saved)="save($event)"></app-book-form>
</ng-template>

<section class="repository full-height">
  <h3>Книги</h3>

  <app-mat-datatable-control
    [dataBinding]="dataBinding"
    [formRef]="form"
    formTitle="Книги"
  >
    <ng-container table-header>
      <app-mat-datatable-search></app-mat-datatable-search>
      <button mat-flat-button appReloadGridButton></button>
      <button mat-flat-button appCreateGridRowButton text="Добавить книгу">
      </button>
    </ng-container>
  </app-mat-datatable-control>
</section>
