<form [formGroup]="form">
  <div class="form-field">
    <mat-label>Логин</mat-label>
    <mat-form-field>
      <input matInput formControlName="login" placeholder="Введите логин">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Фамилия</mat-label>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Введите фамилию">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Имя</mat-label>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="Введите имя">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Отчество</mat-label>
    <mat-form-field>
      <input matInput formControlName="secondName" placeholder="Введите отчество">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-label>Пароль</mat-label>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Введите пароль" [type]="showPassword ? 'text' : 'password'" autocomplete="on">
    </mat-form-field>
  </div>
  <mat-checkbox class="form-checkbox no-select" (click)="togglePasswordVisibility()" [checked]="showPassword">Показать пароль</mat-checkbox>
</form>

<mat-toolbar>
  <button mat-flat-button appClearFormButton></button>
  <button mat-flat-button appSaveFormButton></button>
</mat-toolbar>
