<ul class="menu"
    #menu
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
  <ng-container *ngIf="authService.isAuthorized">
    <ng-container *ngFor="let item of items">
      <li [routerLink]="item.link">
        <span [class]="item.icon"></span>
        <span class="menu-title">{{ item.name }}</span>
      </li>
    </ng-container>
  </ng-container>
  <li class="mt-auto" (click)="auth()">
    <span class="icon-logout"></span>
    <span class="menu-title">{{ authService.isAuthorized ? 'Выход' : 'Войти' }}</span>
  </li>
</ul>
