:host {
  height: 100%;
  width: 100%;
  display: block;
  background-image: url("/assets/imgs/auth-background.png");
  background-size: cover;
  color: black;

  .auth-page {
    position: relative;
    max-width: 660px;
    margin: auto;
    top: 50%;

    // 162 - высота info-block
    // 21 - маржин
    transform: translateY(calc(-162px - 20px - calc(calc(100% - 162px - 20px) / 2 )));
  }

  .info-block {
    background-color: #D9D9D9;
    padding: 16px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__poem {

      &-text-row {
        white-space: nowrap;
      }

      &-author {
        text-align: center;
      }
    }

    &__other {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__app-name {
      font-weight: 700;
      white-space: nowrap;
    }

    &__group-name {
      font-size: 24px;
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px 32px;

    &__title {
      margin-bottom: 16px;
    }
  }
}
