<div class="auth-page">
  <div class="info-block">
    <img src="assets/images/utmn-logo.png" alt="utmn-logo">
    <div class="info-block__poem"> <!-- ну ешь, кто мешает-то -->
      <div class="info-block__poem-text">
        <div class="info-block__poem-text-row">
          Все, что создано умом,
        </div>
        <div class="info-block__poem-text-row">
          Все, к чему душа стремится,
        </div>
        <div class="info-block__poem-text-row">
          Как янтарь на дне морском,
        </div>
        <div class="info-block__poem-text-row">
          В книгах бережно хранится.
        </div>
      </div>
      <br>
      <div class="info-block__poem-author">
        Ю. Ванаг
      </div>
    </div>
    <div class="info-block__other">
      <h3 class="info-block__app-name">Bookmaster-3000</h3>
      <span class="info-block__group-name">ПИ 20.01</span>
    </div>
  </div>

  <form [formGroup]="formGroup" class="form">
    <h2 class="form__title">Авторизация</h2>
    <!-- Сюда пихать input'ы -->
  </form>
</div>
