<form [formGroup]="formGroup">
  <h5>Заполните данные о выдаче</h5>
  <mat-form-field>
    <mat-label>Дата выдачи</mat-label>
    <input matInput formControlName="dateOfIssue" [matDatepicker]="dateOfIssuePicker">
    <mat-datepicker-toggle matSuffix [for]="dateOfIssuePicker"></mat-datepicker-toggle>
    <mat-datepicker #dateOfIssuePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Вернуть до</mat-label>
    <input matInput formControlName="returnUntil" [min]="formGroup.controls.dateOfIssue.value" [matDatepicker]="returnUntilPicker">
    <mat-datepicker-toggle matSuffix [for]="returnUntilPicker"></mat-datepicker-toggle>
    <mat-datepicker #returnUntilPicker></mat-datepicker>
  </mat-form-field>
</form>

<div mat-dialog-actions class="dialog-actions d-flex justify-content-between">
  <button mat-flat-button appButton text="Выдать" [mat-dialog-close]="formGroup.value" cdkFocusInitial></button>
  <button mat-flat-button appButton text="Отмена" (click)="cancel()" ></button>
</div>
