<form [formGroup]="formGroup">
  <h5>Заполните данные о выдаче</h5>
  <mat-form-field>
    <mat-label>Дата выдачи</mat-label>
    <input matInput formControlName="dateOfIssue" [matDatepicker]="dateOfIssuePicker">
    <mat-datepicker-toggle matSuffix [for]="dateOfIssuePicker"></mat-datepicker-toggle>
    <mat-datepicker #dateOfIssuePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Вернуть до</mat-label>
    <input matInput formControlName="returnUntil" [matDatepicker]="retunUntilPicker">
    <mat-datepicker-toggle matSuffix [for]="retunUntilPicker"></mat-datepicker-toggle>
    <mat-datepicker #retunUntilPicker></mat-datepicker>
  </mat-form-field>
</form>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()"></button>
  <button mat-flat-button appButton text="Подтвердить" [mat-dialog-close]="formGroup.value" cdkFocusInitial></button>
</div>
